.market-radio-group {  
    display: flex;
    flex-direction: column;
    height: auto;
}

.market-radio-group-item {
    height:22px;
    display: flex;
    margin-bottom: 16px;
    cursor: pointer;
}

.market-radio-group-item:last-child {
    margin-bottom: 0;
}

.market-radio-group-item-icon {
    width:18px;
    height:18px;
    border-radius: 18px;
    border: 2px solid #DFDEE2;
}

.market-radio-group-item[status="active"]>.market-radio-group-item-icon {
    background-color: var(--themeColor);
}

.market-radio-group-item-label {
    height:22px;
    line-height: 22px;
    font-size:14px;
    padding-left:12px;
}