.market-radio-group {
  display: flex;
  flex-direction: column;
  height: auto;
}

.market-radio-group-item {
  height: 22px;
  display: flex;
  margin-bottom: 16px;
  cursor: pointer;
}

.market-radio-group-item:last-child {
  margin-bottom: 0;
}

.market-radio-group-item-icon {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  border: 2px solid #dfdee2;
}

.market-radio-group-item[status="active"] > .market-radio-group-item-icon {
  border: 2px solid var(--themeColor);
  background-image: url("../../assets/icons/icon-check-theme.png");
  background-size: 10px 7px;
  background-repeat: no-repeat;
  background-position: center;
}

.market-radio-group-item-label {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  padding-left: 12px;
}
