.market-items-filter {
  width: auto;
  height: 30px;
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  margin: 16px 0;
}

.market-items-filter-button {
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  border-radius: 2px;
  margin-right: 8px;
  background-color: var(--areaColor5);
  color: var(--whiteText);
  text-align: center;
  cursor: pointer;
}

.market-items-filter-button[status="active"] {
  background-color: var(--themeColor);
}

.market-items-filter-button[status="active"]:hover {
  background-color: var(--themeColor);
}

.market-items-filter-button:hover {
  background-color: var(--areaColor3);
}
